* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
  color: #e0e0e0;
  border: none;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
  margin: 5px 10px;
}

/* Floating modules */
.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(20, 20, 30, 0.5);
  /* Slightly darker glass */
  border-radius: 12px;
  padding: 6px 12px;
  margin: 4px 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  /* Shadow for floating effect */
}

/* Workspaces */
#workspaces button {
  margin: 0 4px;
  padding: 2px 8px;
  background: transparent;
  border-radius: 8px;
  transition: background 0.3s ease;
}

#workspaces button.focused {
  background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#workspaces button label {
  color: #c6a0f6;
}

/* Modules */
#custom-launcher {
  color: #00bfff;
  font-size: 16px;
  padding-right: 10px;
}

#cpu {
  color: #eed49f;
  padding: 0 10px 0 12px;
}

#memory {
  color: #a6da95;
  padding: 0 10px;
}

#temperature {
  color: #8aadf4;
  padding: 0 12px 0 10px;
}

#disk {
  color: #68b0d6;
}

#custom-pacman {
  color: #68b0d6;
}

#custom-playerctl {
  color: #46c880;
  font-size: 14px;
}

#battery {
  color: #a6da95;
}

#backlight {
  color: #eed49f;
  padding: 0 10px;
}

#pulseaudio {
  color: #91d7e3;
  padding: 0 10px;
}

#network {
  color: #c6a0f6;
  padding: 0 10px;
}

#clock {
  color: #ffffff;
  padding: 0 10px;
}

#tray {
  margin-left: 10px;
  padding: 0 5px;
}

#custom-dot,
#custom-filler,
#custom-separator {
  color: #6e738d;
  padding: 0 6px;
}

#custom-pacman-update {
  color: #8bd5ca;
  margin: 0 10px;
}

#custom-pacman-update-icon {
  color: #181926;
  padding: 2px 5px;
  border-radius: 5px;
}
